.inputs {
    background-color: #262626;
    padding: 10px;
    border-radius: 1vmin;
    display: flex;
    justify-content: center;
    gap: 5px;
}
input {
    background-color: inherit;
    outline: none;
    border: none;
    color: white;
    padding: 5px;
}

img {
    height: 30px;
    width: 30px;
}