.subHeading {
    color: #c4c5c5;
    text-align: center;
    margin-bottom: 5px;
}

.avatarWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #0077FF;
    margin-bottom: 10px;
    transition: all 1s ease-in-out;
    box-shadow: 0px 0px 5px 1px #0077FF;
}

.image:hover {
    box-shadow: 0px 0px 15px 3px #0077FF;
}

.inp {
    display: none;
}

.avatarWrapper > label {
    color: #0077FF;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
.avatarWrapper > label:hover {
    color: #60aaff;
}